*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/736x/1a/ef/1f/1aef1f98449a2e53bcd4f62fccbe49d6.jpg');
    
}

.wrapper{
    width:420px;
    background:transparent;
    border:2px solid rgba(255,255,255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color:black
}

.wrapper .input-box{
    position: relative;
    width:100%;
    height:50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height:100%;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}


.input-box i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.wrapper label input{
    color: #FFF;
    margin-right: 3px;
}
.remember a{
    color: #fff;
}


.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    font-size: 16px;
    color:#333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size:14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color:#fff;
    font-size: 600;
}

